* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  background: #45a29e;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #1f2833;
  font-size: 7rem;
  margin-top: 20px;
}

nav {
  font-size: 2rem;
}

nav a {
  padding: 0 10px
}

nav a:hover {
  background: #1f2833;
  color: #45a29e;
}

main {
  background: #1f2833;
  height: 100vh;
  color: #c5c6c7;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
}

.top {
  text-align: center;
  padding-top: 30px;
  height: 200px;
}

.scoreboard {
  font-size: 2rem;
}

.question {
  font-size: 2rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 600px;
}

.choice {
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #45a29e;
  cursor: pointer;
  margin: 0 30px;
  padding: 10px;
  width: 220px;
}

.choice-image {
  width: 100%;
  margin-top: 10px;
}

.flag {
  height: 122.5px;
}

.scores {
  background: #45a29e;
  
  height: 100vh;
  display: grid;
  grid-template-areas: '. head clear' 'table table table';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 140px 1fr;
}

h2 {
  color: #1f2833;
  grid-area: head;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
}

table,
th,
td {
  border: 3px solid #1f2833;
  border-collapse: collapse;
  font-size: 2rem;
}

table {
  width: 60%;
  grid-area: table;
  justify-self: center;
}

th,
td {
  padding: 10px;
  text-align: center;
  color: #1f2833;
}

.clear-scores {
  grid-area: clear;
  color: #c5c6c7;
  background: #1f2833;
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #1f2833;
  cursor: pointer;
  margin: 30px 0;
  height: 50px;
  width: 200px;
}

footer {
  height: 100px;
  background: #1f2833
}
