* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  margin: auto;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  background: linear-gradient(90deg, black, grey, white);
  background-size: 600% 600%;

  animation: bg-animation 20s ease infinite;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.scoreboard {
  justify-self: flex-start;
  color: white;
  text-shadow: 2px 2px #000000;
}

.question {
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px #000000;
  text-align: center;
}

.right {
  display: grid;
  grid-template-rows: 70px 70px;
  grid-template-columns: 150px 150px;
  grid-gap: 5px;
  width: 50%;
  justify-content: center;
}

.choice {
  background: #fff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
