* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  background: linear-gradient(90deg, #2c3e50, #3498db);
  background-size: 300% 300%;
  animation: bg-animation 10s ease infinite;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  margin: auto;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  color: white;
  text-shadow: 2px 2px #000000;
}

h1 {
  font-size: 4rem;
  margin-top: 20px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  background: #eeeeee;
  border-radius: 10px;
  margin-top: 20px;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.scoreboard {
  justify-self: flex-start;
  color: #323232;
  /* text-shadow: 2px 2px #000000; */
  font-size: 2rem;
}

.question {
  font-size: 2rem;
  color: #323232;
  /* text-shadow: 2px 2px #000000; */
  text-align: center;
}

.right {
  display: grid;
  grid-template-rows: 70px 70px;
  grid-template-columns: 150px 150px;
  grid-gap: 5px;
  width: 50%;
  justify-content: center;
}

.choice {
  background: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.scores {
  width: 100%;
}

table,
th,
td {
  border: 3px solid white;
  border-collapse: collapse;
  font-size: 1.5rem;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
}

table {
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000000;
}

footer {
  height: 100px;
}
